%form{:action => "/login", :id => "login", :method => "POST"}
  %label{:for => "user[login]"} Username or Email
  %input{:id => "user[login]", :name => "user[login]", :type => "text"}
  %label{:for => "user[password]"} Password
  %input{:id => "user[password]", :name => "user[password]", :type => "text"}
  %input{:id => "login", :name => "login", :type => "submit", :value => "Login"}
%p link to signup
