%form{:action => "/signup", :id => "signup", :action = "POST"}
  %label Username
  %input{:id => "username", :name => "username", :type => "text"}
  %label Email Address
  %input{:id => "email", :name => "email", :type => "text"}
  %label Password
  %input{:id => "password", :name => "password", :type => "text"}
  %label Confirm Password
  %input{:id => "password_confirmation", :name => "password_confirmation", :type => "text"}
  %input{:id => "signup", :name => "signup", :type => "submit", :value => "Sign up!"}
